@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #164d63;
}

.bucketList {
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #083344,
      inset 0 0 2rem #083344,
      0 0 4rem #083344,
      inset 0 0 4rem #083344;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@keyframes animate-tick {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.glow {
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  border-radius: 100%;
}

.glow-1 {
  animation: glow1 4s linear infinite;
}

.glow-2 {
  animation: glow2 4s linear infinite;
  animation-delay: 100ms;
}

.glow-3 {
  animation: glow3 4s linear infinite;
  animation-delay: 200ms;
}

.glow-4 {
  animation: glow4 4s linear infinite;
  animation-delay: 300ms;
}

@keyframes glow1 {
  0% {
    transform: translate(10%, 10%) scale(1);
  }

  25% {
    transform: translate(-10%, 10%) scale(1);
  }

  50% {
    transform: translate(-10%, -10%) scale(1);
  }

  75% {
    transform: translate(10%, -10%) scale(1);
  }

  100% {
    transform: translate(10%, 10%) scale(1);
  }
}

@keyframes glow2 {
  0% {
    transform: translate(-10%, -10%) scale(1);
  }

  25% {
    transform: translate(10%, -10%) scale(1);
  }

  50% {
    transform: translate(10%, 10%) scale(1);
  }

  75% {
    transform: translate(-10%, 10%) scale(1);
  }

  100% {
    transform: translate(-10%, -10%) scale(1);
  }
}

@keyframes glow3 {
  0% {
    transform: translate(-10%, 10%) scale(1);
  }

  25% {
    transform: translate(-10%, -10%) scale(1);
  }

  50% {
    transform: translate(10%, -10%) scale(1);
  }

  75% {
    transform: translate(10%, 10%) scale(1);
  }

  100% {
    transform: translate(-10%, 10%) scale(1);
  }
}

@keyframes glow4 {
  0% {
    transform: translate(10%, -10%) scale(1);
  }

  25% {
    transform: translate(10%, 10%) scale(1);
  }

  50% {
    transform: translate(-10%, 10%) scale(1);
  }

  75% {
    transform: translate(-10%, -10%) scale(1);
  }

  100% {
    transform: translate(10%, -10%) scale(1);
  }
};